<a href="https://colab.research.google.com/github/WenxuanDU/ECON441B/blob/main/Week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.) Import the Credit Card Fraud Data From CCLE

In [16]:
import pandas as pd
from google.colab import drive
import matplotlib.pyplot as plt
import numpy as np

In [17]:
drive.mount('/content/gdrive/', force_remount = True)

Mounted at /content/gdrive/

In [18]:
df = pd.read_csv("/content/gdrive/MyDrive/econ441b/fraudTest.csv")

In [19]:
df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0

# 2.) Select four columns to use as features (one just be trans_date_trans)

In [20]:
df.columns

Index(['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category',
       'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip',
       'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time',
       'merch_lat', 'merch_long', 'is_fraud'],
      dtype='object')

In [21]:
df_select=df[["trans_date_trans_time","category","amt","city_pop","is_fraud"]]

# 3.) Create a unique variable out of trans_date.

In [23]:
type(df["trans_date_trans_time"][0])

str

In [30]:
df_select["trans_date_trans_time"] = pd.to_datetime(df_select["trans_date_trans_time"])
dir(df_select["trans_date_trans_time"][0])
df_select["time_var"] = [i.hour for i in df_select["trans_date_trans_time"]]
X = pd.get_dummies(df_select, ["category"]).drop(["trans_date_trans_time", "is_fraud"], axis = 1)
y = df["is_fraud"]

<ipython-input-30-f938e3a40a3e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_select["trans_date_trans_time"] = pd.to_datetime(df_select["trans_date_trans_time"])
<ipython-input-30-f938e3a40a3e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_select["time_var"] = [i.hour for i in df_select["trans_date_trans_time"]]

In [31]:
X.head()

,amt,city_pop,time_var,category_entertainment,category_food_dining,category_gas_transport,category_grocery_net,category_grocery_pos,category_health_fitness,category_home,category_kids_pets,category_misc_net,category_misc_pos,category_personal_care,category_shopping_net,category_shopping_pos,category_travel
0,2.86,333497,12,0,0,0,0,0,0,0,0,0,0,1,0,0,0
1,29.84,302,12,0,0,0,0,0,0,0,0,0,0,1,0,0,0
2,41.28,34496,12,0,0,0,0,0,1,0,0,0,0,0,0,0,0
3,60.05,54767,12,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4,3.19,1126,12,0,0,0,0,0,0,0,0,0,0,0,0,0,1

# 4.) Oversample the data (this will be your training data).

In [25]:
## next week

# 5.) Train a Logistic regression.

In [26]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)


model = LogisticRegression()

model.fit(X_train, y_train)

score = model.score(X_test, y_test)
print(score)

0.9958372321792749

# 6.) The company you are working for wants to target at a False Positive rate of 5% what threshold should you use? (Use oversampled data)

In [27]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_curve

# predict the probabilities of the positive class for the test data
y_probas = model.predict_proba(X_test)[:, 1]

# calculate the false positive rate and true positive rate
fpr, tpr, thresholds = roc_curve(y_test, y_probas)

# find the threshold that corresponds to a false positive rate of 5%
threshold = thresholds[np.argmin(np.abs(fpr - 0.05))]

# use this threshold to make predictions on the test data
y_pred = (y_probas > threshold).astype(int)

# create the confusion matrix
conf_matrix = confusion_matrix(y_test, y_pred)

# print the confusion matrix
print(conf_matrix)

[[157724   8358]
 [   304    330]]

In [36]:
threshold

0.005619112822188147

# 7.) If the company makes .02*amt on True transactions and loses -amt on False (Use original data)

In [38]:
df_temp = df_select.copy()

In [41]:
df_temp["pred"] = model.predict(X)

In [42]:
df_temp = df_temp[["pred", "is_fraud", "amt"]]

In [43]:
df_temp.head()

   pred  is_fraud    amt
0     0         0   2.86
1     0         0  29.84
2     0         0  41.28
3     0         0  60.05
4     0         0   3.19

In [50]:
revenue=[]
for i in range(len(df_temp["pred"])):
  if df_temp["pred"][i] == df_temp["is_fraud"][i] == 1:
    revenue.append(df_temp["amt"][i]*0.02)
  elif (df_temp["pred"][i] == 0 and df_temp["is_fraud"][i] == 1):
    revenue.append(-int(df_temp["amt"][i]))

In [51]:
from statistics import mean
sum(revenue)

-1132262

# 8.) Using Logistic Regression Lasso to inform you. Would you use the selected features in a trusted prediction model?

In [57]:
lasso_reg = LogisticRegression(penalty='l1',solver='liblinear')
lasso_fit = lasso_reg.fit(X_train,y_train)

In [58]:
lasso_fit.coef_

array([[ 2.09512066e-03, -4.66962209e-07,  1.14413205e-01,
        -5.18376059e+00, -5.39961182e+00, -3.43939261e+00,
        -3.60920660e+00, -2.41628921e+00, -5.33821390e+00,
        -5.60410121e+00, -5.51763423e+00, -2.80223625e+00,
        -4.62527939e+00, -5.18173028e+00, -3.28057746e+00,
        -4.52667870e+00, -9.40761083e+00]])

The coefficient of Lasso is significantly different to 0, indicating that we can trust the selected features.